@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --kosenBg1: #2f3a9a;
  --kosenBg2: #ffc20c;
  --kosenText1: #07158f; /* Dark Blue */
  --kosenText2: #ffc20c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.kosenText1 {
  @apply text-[#2f3a9a];
}

.kosenText2 {
  @apply text-[#ffc20c];
}

.kosenBorder {
  @apply border-[#ffc20c];
}

.kosenBg1 {
  @apply bg-[#2f3a9a];
}

.kosenBg2 {
  @apply bg-[#ffc20c];
}

.official-padding {
  @apply p-4;
}

.official-rounded {
  @apply rounded;
}

/* CKEditor-с ирсэн агуулга */
.rich-content {
  font-size: 1rem;
  line-height: 1.6;
}

/* Тоотой / цэгтэй жагсаалт */
.rich-content ol {
  list-style: decimal;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.rich-content ul {
  list-style: disc;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.rich-content li {
  margin-bottom: 0.25rem;
}

/* CKEditor 5 figure/image alignment-ууд */
.rich-content figure.image {
  display: inline-block;
  margin: 0 1rem 1rem 0; /* зургийн баруун, доогуур бага зай */
}

/* Зураг зүүн талд байрлалтай бол */
.rich-content figure.image.image-style-align-left {
  float: left;
}

/* (Хэрвээ баруун талд байрлуулдаг бол) */
.rich-content figure.image.image-style-align-right {
  float: right;
  margin: 0 0 1rem 1rem;
}

/* Float хийсэн зургийн дараах текстүүд wrapper-аасаа гарчихгүйн тулд */
.rich-content::after {
  content: "";
  display: block;
  clear: both;
}

.rich-content p,
.rich-content ul,
.rich-content ol,
.rich-content blockquote {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
