@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --kosenBg1: #2f3a9a;
  --kosenBg2: #ffc20c;
  --kosenText1: #07158f; /* Dark Blue */
  --kosenText2: #ffc20c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.kosenText1 {
  @apply text-[#2f3a9a];
}

.kosenText2 {
  @apply text-[#ffc20c];
}

.kosenBorder {
  @apply border-[#ffc20c];
}

.kosenBg1 {
  @apply bg-[#2f3a9a];
}

.kosenBg2 {
  @apply bg-[#ffc20c];
}

.official-padding {
  @apply p-4;
}

.official-rounded {
  @apply rounded;
}

/* ===== CKEditor-с ирсэн текстийн жагсаалтууд ===== */

.rich-content ol {
  list-style: decimal;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.rich-content ul {
  list-style: disc;
  margin-left: 1.5rem;
  padding-left: 1.5rem;
}

.rich-content li {
  margin-bottom: 0.25rem;
}

/* Хэрвээ глобал UL reset хэрэгтэй бол зөвхөн nav-д хамааруулна */
/* nav ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
} */
